<% parent_comment = (comment.parent_comment_id.nil? ? true : false) %>
<% child_comments_count = comment.child_comments.count %>
<% author = comment.author %>

<div>
  <div style="border-style: dotted; padding: 5px; margin-bottom: 15px;">
    <p><b>Author:</b> <%= link_to author.username, user_path(author) %></p>
    <textarea disabled= 'true', style="resize: none; width: 80%; height: 100px;"><%= comment.content %></textarea>

    <ul style="list-style-type: none; padding: 0; margin-top: 10px; display: flex">
      <li style= "padding-right: 5px"><%= button_to "Reply", comment_path(comment), method: :get %></li>

    <% if comment.author == current_user %>
        <li style= "padding-right: 5px"><%= button_to 'Edit comment', edit_comment_path(comment), method: :get %></li>
        <li style= "padding-right: 5px"><%= button_to 'Delete comment', comment_path(comment), method: :delete %></li>
      <ul>
    <% end %>
  </div>

    <ul style="list-style-type: none;">
      <% comment.child_comments.each do |child_comment| %>
        <li><%= render 'comments/comment', comment: child_comment %></li>
      <% end %>
    </ul>
</div>
