<% author = comment.author %>

<div>
  <div style="border-style: dotted; padding: 5px; margin-bottom: 15px;">
    <p><b>Author:</b> <%= link_to author.username, user_path(author) %></p>
    <p><b>Created_at:</b> <%= comment.created_at %></p>
    <textarea disabled= 'true', style="resize: none; width: 80%; height: 100px;"><%= comment.content %></textarea>

    <ul style="list-style-type: none; padding: 0; margin-top: 10px; display: flex">
      <li style= "padding-right: 5px"><%= button_to "Reply", comment_path(comment), method: :get %></li>

    <% if comment.author == current_user %>
        <li style= "padding-right: 5px"><%= button_to 'Edit comment', edit_comment_path(comment), method: :get %></li>
        <li style= "padding-right: 5px"><%= button_to 'Delete comment', comment_path(comment), method: :delete %></li>
      <ul>
    <% end %>
  </div>


  <% comments_by_parent[comment.id].each do |child_comment| %>
    <ul style="list-style-type: none;">
      <li>
        <%= render 'comments/comment',
            comment: child_comment,
            comments_by_parent: comments_by_parent
        %>
      </li>
    </ul>
  <% end %>
</div>
