<%= button_to 'Back to avaliable subs', subs_path, method: :get %>

User profile

<p>
  username: <%= @user.username %>
</p>
<p>
  email: <%= @user.email %>
</p>
<p>
  Subs moderated by user:
  <ul>
    <% @user.subs.each do |sub| %>
      <li><%= link_to sub.name, sub_path(sub) %></li>
    <% end %>
  </ul>
</p>

<p>
  Posts by user:
  <ul>
    <% @user.posts.each do |post| %>
      <li><%= link_to post.title, post_path(post) %></li>
    <% end %>
  </ul>
</p>

<p>
  Comments by user:
  <ul>
    <% @user.comments.each do |comment| %>
      <li><%= link_to comment.content, comment_path(comment) %></li>
    <% end %>
  </ul>
</p>
