<% parent_comments = @post.comments.where(parent_comment_id: nil) %>

<%= button_to 'Back to sub', :back, fallback_location: subs_path, method: :get %>
<p>Title: <%= @post.title %></p>
<p>Url: <%= @post.url %></p>
<p>Content: <%= @post.content %></p>
<p>Author: <%= @post.author.username %></p>
<p>Posted in Subs:
  <ul>
    <% @post.sub_ids.each do |sub_id| %>
      <li><%=link_to Sub.find(sub_id).name, sub_path(Sub.find(sub_id)) %></li>
    <% end %>
  </ul>
</p>

<% if @post.author == current_user %>
  <%= button_to 'Edit post', edit_post_path(@post), method: :get %>
  <%= button_to 'Delete post', post_path(@post), method: :delete %>
<% end %>

<p>
  <b>Comments</b>
  <br>
  <%= link_to 'Add comment', new_post_comment_path(@post) %>
</p>

  <% parent_comments.each do |comment| %>
    <%= render 'comments/comment', comment: comment %>
  <% end %>
