<%= button_to 'Back to sub', :back, fallback_location: subs_path, method: :get %>
<p>Author: <%= link_to @post.author.username, user_path(@post.author) %></p>
<p>Title: <%= @post.title %></p>
<p>Url: <%= @post.url %></p>
<p>Content: <%= @post.content %></p>
<p>Cross-posted in Subs:
  <ul>
    <% @post.sub_ids.each do |sub_id| %>
      <li><%=link_to Sub.find(sub_id).name, sub_path(Sub.find(sub_id)) %></li>
    <% end %>
  </ul>
</p>

<% if @post.author == current_user %>
  <%= button_to 'Edit post', edit_post_path(@post), method: :get %>
  <%= button_to 'Delete post', post_path(@post), method: :delete %>
<% end %>

<div style="border-style: dashed; display: inline-block; padding: 10px 10px 10px 10px;">
  <p>Add comment:</p>
  <%= render 'comments/form', comment: @post.comments.new, parent_comment: nil %>
</div>

<p><b><%= "Comments(#{@post.comments.count})"%></b></p>

<p>
  <% @post.top_level_comments.each do |comment| %>
    <%= render 'comments/comment', comment: comment %>

    <ul style="list-style-type: none;">
      <% comment.child_comments.each do |child_comment| %>
        <li><%= render 'comments/comment', comment: child_comment %></li>
      <% end %>
    </ul>
  <% end %>
<p>
